# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

Paperino_ModuleS\.dxf
Paperino_module/drawing/*
Paperino_module/Gerbers/*
Paperino_module/module_panel\.kicad_pcb

Paperino_module/module_panel\.pro

test_rig/

Paperino_module/Gerbers/

*.drl
